*.class
*.log

/.idea
/.idea_modules
/.classpath
/.project

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

*.sublime-workspace
*.sublime-project

.DS_Store
